@import 'src/styles/vars';

.about {
  margin: auto;
  text-align: center;

  .right-part {

    .video {
      margin: auto;
    }
  }

  .left-part {

    h1 {
      font-size: 2rem;
      color: $mainBlue;
      font-weight: bold;

    }

    p {
      color: $mainColor;
      font-size: 1.2rem;
      margin: 1rem;
    }

    h2 {
      color: $backMedia;
      font-size: 1.5rem;
      font-weight: bold;
    }

    h3 {
      color: $mainBlue;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .goback {
      color: $backMedia;
      
    }

  }
}

@media screen and (min-width: 900px) {
  .about {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15rem;

    .right-part {
      
      .video {
        margin: auto;
      }

    }
  
    .left-part {
  
     
    }
  }
}

@media screen and (min-width: 1300px) {
  .about {
    .right-part {
      margin-top: -10rem;
    }
    .left-part {

    }
  }
}
