@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat&family=Questrial&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

$didact: 'Didact Gothic', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$questrial: 'Questrial', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$greatvibes: 'Great Vibes', cursive;

$hoverColor: #91d5d3;
$mainBlue: #5ec1be;
$darkBlue: #3c9e9b;
$lightBrown: #c98773;
$mainColor: #666;
$altColor: #bebebb;
$backHeader: #d5ebea;
$delete: #ED4720;
$fav: #F093BD;
$backMedia: #f5c371;
$focus: #98DCC5;
$lightOrange: #d98166;
$jungle: #05694b;
$ok: #23D279;
$redIsDead: #f65e5e;
$darkerBlue: #005761;
