@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat&family=Questrial&family=Quicksand&display=swap');

$didact: 'Didact Gothic', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$questrial: 'Questrial', sans-serif;
$quicksand: 'Quicksand', sans-serif;

$hoverColor: #91d5d3;
$mainBlue: #5ec1be;
$darkBlue: #3c9e9b;
$lightBrown: #c98773;
$mainColor: #666;
$altColor: #bebebb;
$backHeader: #d5ebea;
