@import 'src/styles/vars';

@keyframes move {
  0% {
    border-radius: 71% 29% 38% 62% / 45% 23% 77% 55% ;
  }
  25% {
    border-radius: 68% 32% 14% 86% / 21% 21% 79% 79%;
  }
  50% {
    border-radius: 68% 32% 65% 35% / 21% 52% 48% 79%;
  }
  75% {
    border-radius: 75% 25% 89% 11% / 69% 70% 30% 31% ;
  }
  100% {
    border-radius: 71% 29% 38% 62% / 45% 23% 77% 55% ;
  }
}

.subscribe {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;


  .left-subscribe {
    width: 80%;
    margin: auto;
    // border-radius: 71% 29% 38% 62% / 45% 23% 77% 55% ;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    background: linear-gradient(41deg, rgba(213,235,234,1) 0%, rgba(213,235,234,1) 61%, rgba(145,213,211,1) 79%);
    height: 100vh;
    
    h1 { 
      font-size: 2rem;
      font-weight: bold;
      color: $darkerBlue;

    }

    // .avatar-container {
    //   .picture {
    //     border: 3px solid $backMedia;
    //     border-radius: 50%;
    //     width: 30%;
        
    //   }
    // }

    input {
      width:95%;

    }

    form {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      margin: 2rem auto;
      padding-left: 2rem;
      padding-right: 2rem;
      
      label {
        color: $darkerBlue;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: left;
        margin-top: 1.5rem;

        .required-elements {
          display: block;
          margin-top: 0.2rem;
          font-size: 0.8rem;
          color: $mainColor;

          .required {
            color: $darkBlue;

          }

        }
    
      }

      .choose-file {
        text-align: center;
        padding: 0.3rem;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid $backMedia;
        margin-left: 5rem;
        margin-right: 5rem;

        &:hover {
          border-bottom: 2px solid $ok;

        }

        &:active {
          border-bottom: 2px solid $ok;

        }

      }

        .avatar {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          display: none;
          
        }

        span {
          display: block;
          margin-top: 0.2rem;
          color: $redIsDead;
          font-size: 0.8rem;
          margin-left: 0.6rem;
          margin-right: 0.2rem;

        }

        .error-mail {
          margin-left: 0.6rem;

        }


      .input-login {
        font-family: $quicksand;
        margin-top: 1rem;
        padding: 0.5rem;
        border-style: none;
        background-color: white;
        margin-left: 0.3rem;

        &::placeholder {
          color: $mainColor;

        }

        &:focus:invalid {
          outline: 0;
          border: 2px solid $redIsDead;
          border-radius: 2rem;

        }

        &:focus:valid {
          outline: 0;
          border: 2px solid $ok;
          border-radius: 2rem;

        }

        &:invalid+.error-mail:before {
          content: 'Ce format n\'est pas valide';

        }

        &:invalid+.error-pseudo:before {
          content: 'Votre pseudo doit contenir au moins 3 caractères';
          
        }

        &:invalid+.error-pass:before {
          content: 'Vérifiez bien que votre mot de passe corresponde aux critères énumérés plus haut';
          
        }

      }


      #wrong-pass {
        color: $redIsDead;
        font-weight: bold;
        font-size: 0.8rem;
        height: 2rem;
        text-align: left;
        margin-left: 0.6rem;

      }

      .required-star {
        color: $darkerBlue;
        font-size: 0.8rem;
        text-align: left;
      }

      .submit {
        font-family: $questrial;
        margin: 1rem auto;
        width: 60%;
        border-style: none;
        background-color: $mainBlue;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 1rem;

        .lotus {
          width: 2rem;

        }

        &:hover {
          background-color: $backMedia;
          color: white;

        }

        &:active {
          background-color: $backMedia;
          color:white;
          
        }
        
      }
    }    

    .back {
      margin-bottom: 4rem;

      .go-back {
        color: $darkerBlue;
        font-size: 0.8rem;
        font-style: italic;

      }

      .go-back-link {
        font-weight: bold;
        text-decoration: underline;
        margin-top: 1rem;
        fill: $backMedia;
        color: white;

        &:hover {
          fill: $backHeader;
          color: $darkBlue;

        }

        &:active {
          fill: $backHeader;
          color: $darkBlue;
          
        }

      }
    }
  }
  
  img {
    width: 50%;
    margin: auto;

  }
}

@media screen and (min-width: 600px){
  .subscribe {

    .left-subscribe {
      width: 70%;
    }

    img {
      width: 60%;

    }
  }
}

@media screen and (min-width: 700px){
  .subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .left-subscribe {
      margin: 2rem;

    }

    img {
      width: 45%;

    }
  }
}

@media screen and (min-width: 800px){
  .subscribe {

    .left-subscribe {
      
      form {
        width: 90%;

        .error-mail {
          margin-left: 0.6rem;
          
        }

        .submit {
          padding-top: 0.5rem;

          .lotus {
            margin-left: 1.3rem;

          }
        }

      }

    }

    img{
      width: 40%;
      margin-right: 2rem;

    }
  }
}

@media screen and (min-width: 1000px){
  .subscribe {

    .left-subscribe {


      form {
        width: 80%;

        .submit {
          padding: 1rem;
          font-size: 1.5rem;
          display: flex;
          flex-direction: column;

          .lotus {
            margin-left: 4.5rem;

          }

        }

      }
    }
  }
}

@media screen and (min-width: 1200px){
  .subscribe {

    .left-subscribe {
      margin-left: 1rem;

      form {
        width: 70%;

        .avatar-container {

          .picture {
            width: 50%;

          }
        }

        .submit {
          flex-direction: row;
          padding-left: 0.5rem;

          .lotus {
            margin-left: 0.5rem;
            margin-right: 0rem;
            margin-top: -0.3rem;

          }
        }

      }
    }

    img{
      width: 40%;

    }
  }
}

@media screen and (min-width: 1400px) {
  .subscribe {

    .left-subscribe {

      form {
        
        .submit {
          padding-left: 2rem;

        }
      }
    }
  }
}


@media screen and (min-width: 1600px){
  .subscribe {
    margin-top: 5rem;

    .left-subscribe {
      width: 50%;

      form {
        width: 60%;
        
        }

      }
    }

    img {
      margin: auto;
      width: 30%;

    }

}
