@import 'src/styles/vars';

.account {
  text-align: center;

  .account-name {
    margin: 2rem auto;
    font-weight: 500;
    font-size: 1.5rem;
    color: $darkBlue;

  }

  .avatar-editor {
    text-align: center;
    width: 50%;
    margin: auto;

    label {
      
      .avatar-input {
        display: none;
      }
    }
    
    .avatar {
      position: relative;
      width: 50%;
      border-radius: 50%;
      z-index: -5;
    }

    .edit {
      margin-left: 20%;
      margin-top: 2%;
      position: absolute;
      z-index: -1;
      color: $mainBlue;

    }
  }

  .edit-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;

    .edit-title {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      color: $mainColor;
    }

    .edit-form {
      display: flex;
      flex-direction: column;

    input {
      margin: auto;
      margin-top: 1rem;
      padding: 0.5rem;
      border: $darkBlue 1px solid;
      border-radius: 20px;
      
    }

    .submit {
      margin-top: 1rem;
      background-color: $hoverColor;
      border-style: none;
      padding: 1rem;
      border-radius: 10em;
      color: white;
      font-family: $quicksand;
      font-size: 1rem;
      font-weight: bold;
      box-shadow: 0.1em 0.3em $darkBlue;

      &:active {
        box-shadow: inset 0.1em 0.3em $darkBlue;

      }
    }
    }

    .delete {
      color: $delete;
      margin: auto;
      margin-top: 20%;
      font-weight: bold;
      text-decoration: underline $delete;
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .account {
    margin-top: 5%;
    display: flex;

    .desktop {
      width: 50%;

    .account-name {
      font-size: 3rem;
      margin-top: -0.5%;
      margin-left: -0.1rem;  
    }
    
    .avatar-editor {
      position: relative;
      width: 30%;
      margin-top: 10%;

      .edit {
        margin-left: 80%;
        margin-top: 10%;
        position: absolute;
       
      }

      .avatar {
        width: 100%;

      }

    }
  }
    
    .edit-info {
      border-left: 2px solid $darkBlue;
      width: 50%;
  
      .edit-form {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          margin: auto;
          margin-top: 1rem;
          margin-bottom: 1rem;
          width: 60%;
          padding: 0.5rem;
          border: $darkBlue 1px solid;
          border-radius: 20px;
        }

        .submit {
          width: 30%;
          margin: auto;

        }
      }

      .delete {
        margin-top: 10%;
        font-size: 0.8rem;
        color: $delete;
        text-decoration: underline $delete;
        font-weight: bold;
        
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .account {

    .edit-info {

      .edit-form {

        input {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .account {

    .edit-info {

      .edit-form {

        input {
          width: 40%;
        }
      }
    }
  }
}
