@import 'src/styles/vars';

.media {

  display: flex;
  flex-direction: column;

  .fav {
    margin-left: 10rem;
    position: absolute;
    color: $backMedia;   
    
    &.is-favorite {
      fill: $backMedia;
    }

  }

  .react-player {
    margin-left: -1rem;
    margin-bottom: 0.5rem;

  }

  .play {
    display: block;
    color: white;
    margin: auto;
    text-align: center;
    background-color: $focus;
    border-radius: 2rem;

    .icon {
      
    }

  }

  h3 {
    color: $mainColor;
    font-weight: bold;
    margin: 1rem auto;

  }    
  
}
