@import 'src/styles/vars';

.media {
  position: relative;
  display: flex;
  flex-direction: column;

  .fav {
    margin-left: 10rem;
    position: absolute;
    color: $backMedia;
    
    &.fav--is-favorite {
      fill: $backMedia;

      &:hover {
        fill: none;
      }

    }

    &:hover {
      fill: $backMedia;
    }  
  }
  
  .react-player {
    margin-left: -1rem;
    margin-bottom: 0.5rem;
  }

  .play {
    display: block;
    margin: auto;
    text-align: center;

    span {
      background-color: $backMedia;
      padding: 0.2rem;
      color: white;
      font-weight: bold;
      border-radius: 1rem;

      &:hover {
        border: 2px solid $backMedia;
        background-color: white;
        color: $backMedia;

      }

      &:active {
        border: 2px solid $backMedia;
        background-color: white;
        color: $backMedia;

      }

    }

  }


  h3 {
    color: $mainColor;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem auto;

  }    
  
}
