@import 'src/styles/vars';

.slide-media {
  width: 90%;
  margin: 1rem auto;
  
  
  .category {
    margin-left: 3rem;
    font-size: 1.5rem;
    color: $mainColor;
    text-transform: uppercase;
    
  }

  .container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 18rem;
    text-align: center;
    
    .media {
      text-align: center; 
      margin: 0.7rem;
    }
  }
}


@media screen and (min-width:600px) {

  .slide-media {   

    .container {
      display: flex;
      flex-direction: row;
      overflow: scroll;
      height: 18rem;
      text-align: center;
      overflow-y: hidden;

    }
  }
}

