@import 'src/styles/vars';

.slide-media {
  width: 90%;
  margin: 1rem auto;
  
  
  .category {
    margin-left: 3rem;
    font-size: 1.5rem;
    color: $mainColor;
    text-transform: uppercase;

  }

  .container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 10rem;
    text-align: center;
    
    
    .media {
      width: 70%;
      margin: 1rem;
      color: $altColor;
      
      h3 {
        color: $mainColor;
        font-weight: bold;

      }

      .miniature {
        background-color: grey;
        width: 8rem;
        height: 5rem;
        
      }

      h3{
        margin-top: 0.5rem;
  
      }

      h4{
        margin-top: 0.2rem;

      }
    }
  }
}


@media screen and (min-width:600px) {

  .slide-media {   
    .container {
      display: flex;
      flex-direction: row;
      overflow: scroll;
      height: 15%;
      text-align: center;
      overflow-y: hidden;

      .media {
        width: 10rem;
        margin: 2rem;
        text-align: center;

        .miniature {
          width: 12rem;
          height: 7rem;

        }
      }
    }
  }
}
