@import 'src/styles/vars';

.research {

  .input-research {
    width: 70%;
    margin: auto;

    .input {
      display: flex;
      justify-content: space-evenly;

      input {
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 1px solid $darkBlue;

      }

      .submit-search {
        margin-top: -0.5rem;
        background-color: $hoverColor;
        border-radius: 50%;
        color: white;
        border-style: none;
        box-shadow: 0.1em 0.2em $darkBlue;
        width: 3rem;
        height: 3rem;

          &:active {
            box-shadow: inset 0.1em 0.2em $darkBlue;

          }
        
      }
  }
    .research-title {
        margin: 1rem auto;
        color: $darkBlue;
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .filters {
        display: flex;
        flex-direction: column;

        select {
        font-family: $quicksand;
        margin-bottom: 1rem;
        border: $darkBlue 1px solid;
        background-color: white;
        padding: 0.2rem;

          option {
              background-color: none;
    
          }
        }

        .submit-filters {
            background-color: $hoverColor;
            font-weight: bold;
            color: white;
            padding: 0.3rem;
            width: 50%;
            margin-left: 25%;
            border-style: none;
            margin-bottom: 10%;
            border-radius: 5rem;
            font-family: $quicksand;
            box-shadow: 0.1em 0.3em $darkBlue;

             &:active {
              box-shadow: inset 0.1em 0.3em $darkBlue;

            }
        }

    }
  }
    .result-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .results {
        width: 100%;
        margin-left: 7%;
        margin-bottom: 3%;

        .number {
          color: $mainBlue;
          
        }
      }
      .medias-results {
        width: 100%;

        .media {
          text-align: center;
          width: 200px;
          margin: auto;
          margin: 0.5rem;
        
        .react-player {

        }

        h3 {
          color: $mainColor;
          font-weight: bold;
          margin-top: 0.5rem;

        }

        h4 {
          color: $altColor;
          margin-top: 0.2rem;
        }
        }
    }
    }
}

@media screen and (min-width: 400px) {
  .research {
    .result-container{
      .medias-results {
        .media{
          .miniature {
            height: 12em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .research {
    .result-container{
      .medias-results {
        .media{
          .miniature {
            height: 15em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .research {
      display: flex;
      flex-direction: row;
      text-align: center;

      .input-research {
        width: 50%;

        input {
          width: 50%;
          padding: 0.5rem;
        }

        .research-title {
          margin: 1rem auto;
          color: $darkBlue;
          font-weight: bold;
          font-size: 1.2rem;
        }
        
        .filters {
            width: 50%;
            margin: auto;
    
        }
      }
        .result-container {
          display: flex;
          flex-wrap: wrap;
          width: 50%;
          height: 70vh;
          border-left: $darkBlue 2px solid;
    
          .results {
            width: 100%;
            margin-left: 7%;
            margin-bottom: 3%;
          }
          
          .medias-results {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 60vh;
            overflow: scroll;
            overflow-x: hidden;
            padding-left: 1rem;
            padding-right: 1rem;

            .media {
              text-align: center;
              width: 200px;
    
            h3 {
              color: $mainColor;
              font-weight: bold;
              margin-top: 0.5rem;
    
            }
    
            h4 {
              color: $altColor;
              margin-top: 0.2rem;
            }
            }
        }
        }
    }
}

@media screen and (min-width: 600px) {
  .research {
    .input-research {
      
      .input {
        margin-left: 1.4rem;
        justify-content: center;
        width: 100%;

        .submit-research {
          
        }
      }
      .filters {
          width: 60%;
          .submit-filters {
            width: 70%;
            margin: auto;
          }
      }       
    }
  }
}

@media screen and (min-width: 1000px) {
  .research {
    .input-research {
      input {
        width: 40%;
      }
      .filters {
          width: 40%;
  
          .submit-filters {
            width: 70%;
            margin: auto;
          }
      }       
    }
    .result-container{
      .medias-results {
        .media{
          .miniature {
            height: 10em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .research {
    .result-container{
      .medias-results {
        .media{
          .miniature {
            height: 12em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .research {
    .input-research {
      .filters {
          .submit-filters {
            width: 50%;
            margin: auto;
          }
      }       
    }
    .result-container{
      .medias-results {
        .media{
          .miniature {
            height: 14em;
          }
        }
      }
    }
  }
}
