@import 'src/styles/vars';
  
.header {
  text-align: center;
  
  .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .input {
      display: flex;
      height: 3em;
      border: 1px solid $hoverColor;
      border-radius: 5px;
      padding-left: 1rem;
      position: relative;
      width: 75%;
      margin-left: 1rem;
      
      .search-home {
        border-style: none;
        width: 75%;
      }

      .search {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        width: 15%;
        color: $darkBlue;
        
      }

    }

    .menu { 
      display: none;  

    }


    .menu-button {
      margin: auto;
      
      .burger{
        position: fixed;
        top: 1rem;
        right: 0.5rem;
        z-index: 50;
        color: $darkBlue;
      }

      .menu-burger{
        display: flex;
        flex-direction: column;
        font-size: 50px;
        background-color: rgb(214, 235, 234, 0.75);
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 2.5rem;
        padding-top: 2rem;
        font-family: $quicksand;
        color: black;

        .logout {
          font-size: 1.5rem;
          margin-top: 20%;
        }

        a{
          margin-top: 1.5em;

          &.nav-active {
            color: $darkBlue;
          }
        }
      }
    }
  }

  .logo-header {
    margin: auto;
    width: 30%;
  }
}


@media screen and (min-width: 600px) {
  .header {   
    .header-top {
      background-color: $backHeader;
      .input {
        width: 20%;
        background-color: white;
        border: none;
      }

      .menu { 
        display: block;
        margin: auto;
        
        .nav {
          margin-right: 10%;
          font-size: 1.2rem;
          
          &:hover {
            color: $darkBlue;
          }

          &.nav-active {
            color: $darkBlue;
          }
        }

        .logout {
          font-size: 0.8rem;

          &:hover {
            color: $darkBlue;
          }
        }
      }

      .menu-button {
        display: none;
      }
    }

    .logo-header {
      margin: auto;
      width: 15%;
    }

  }
}
