@import 'src/styles/vars';


.footer {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;

  .logo-footer {
    width: 10%;
  }

  .links{
    
    a{
      margin: 0.5rem;
      font-size: 0.5rem;
    }
  }
}


@media screen and (min-width: 600px) {
  .footer {
    .logo-footer {
      width: 5%;
    }

    .links{

      .legal-mentions {
        margin-left: -2.5em;
        font-size: 0.8rem;

        &.footer-active {
          color: $darkBlue;
        }

        &:hover {
          color: $darkBlue;
        }
      }

      .about {
        margin-left: 5em;
        font-size: 0.8rem;

        &.footer-active {
          color: $darkBlue;
        }

        &:hover {
          color: $darkBlue;
        }
      }
    }
  }
}
