 @import 'src/styles/vars';

.login {
  text-align: center;

  .logo {
    width: 60%;
    margin-top: 2rem;
    
  }

  .right-login{
    width: 80%;
    margin: auto;

    h1 {
        font-size: 1.2rem;
        font-weight: bold;
        color: $darkBlue;
    }

    form {
      background-color: $backHeader;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      margin: 2rem auto;
      width: 80%;
      padding-left: 2rem;
      padding-right: 2rem;
      border-radius: 2rem;
      
      .input-login {
        font-family: $quicksand;
        margin-top: 1rem;
        padding: 0.5rem;
        border-style: none;

        &:focus {
          border: 2px solid $backMedia;
          border-radius: 3rem;

        }
        
        &::placeholder {
          color: $mainBlue;

        }

      }

      .submit {
        font-family: $quicksand;
        margin: 1rem auto;
        padding: 0.5rem;
        width: 60%;
        border-style: none;
        background-color: white;
        border-radius: 2rem;
        color: $mainBlue;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
          background-color: $backMedia;
          color:white;

        }

        &:active {
          background-color: $backMedia;
          color:white;

        }
        
      }
    }
  }
  
  .subscribe {

    .question {
      color: $mainColor;
      font-style: italic;
      margin-bottom: 1rem;

    }

    .new-account {
      color: $mainBlue;
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        color:$backMedia;

      }

      &:active {
        color:$backMedia;

      }

    }
  }
}

@media screen and (min-width: 500px) {
  .login {
    .logo {
      width: 30%;
    }
    .right-login {
      form {
        width: 65%;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .login {
    .logo {
      width: 30%;
    }
    .right-login {
      form {
        width: 60%;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .login {
    display: flex;
    width: 100%;

    .logo {
      width: 50%;
      margin: 20vh auto;
      padding-right: 1rem;

    }

    .right-login {
      border-left: 2px solid $darkBlue;
      margin: 20vh auto;
      width: 50%;

      form {
        
        .submit {
            font-size: 0.8rem;
            width: 85%;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .login {

    .logo {
      
      width: 45%;
    }

    .right-login {
      
    }
  }
}

@media screen and (min-width: 1100px) {
  .login {

    .logo {
      margin: 10vh auto;
    }

    .right-login {
      width: 45%;
    }
  }
}

@media screen and (min-width: 1300px) {
  .login {

    .logo {
      width: 40%;
    }

    .right-login {
      width: 40%;
    }
  }
}

@media screen and (min-width: 1600px) {
  .login {

    .logo {
      width: 35%;
    }

    .right-login {
      width: 35%;

      form {
        
      }
    }
  }
}
